*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #1e272e;

}
img{
    width: 100%;
    display: block;

}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 792px;
}